<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <h1>Welcome to <%= title %>!</h1>
    <p><%= description %></p>
    <div><%- content %></div>
    <script src="assets/js/script.js"></script>
</body>
